// LƯU Ý: Đây là cấu hình dùng dưới máy của Lập trình viên. 
// Đừng Push file này lên Render vì Render sẽ chạy đường truyền thật.

PRODUCT_URL=http://localhost:3002
CART_URL=http://localhost:3003
ADMIN_URL=http://localhost:3004
STORE_URL=http://localhost:3005
DESIGN_SYSTEM_URL=http://localhost:3006
HEADER_URL=http://localhost:3001
